<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>products</title>
  </head>
  <body>
    <div>
      <form action="/api/products" method="POST" class="form-products">
        <h4>Agregar productos</h4>
        <p>Nombre</p>
        <input
          class="controls"
          name="title"
          type="text"
          placeholder="Nombre del producto"
          required
        />
        <p>Precio</p>
        <input
          class="controls"
          name="price"
          type="number"
          placeholder="Precio del producto"
          required
        />
        <p>Descripción</p>
        <textarea
          class="controls"
          name="description"
          type="text"
          placeholder="Descripción del producto"
          required
        >
        <p>Stock</p>
        <input
          class="controls"
          name="stock"
          type="number"
          placeholder="Stock del producto"
          required
        />
        <input class="buttons" type="submit" value="Agregar" />
      </form>
    </div>
  </body>
</html>